

#blocos-img {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

#blocos-concreto p{
    font-size: 0.9rem;
}

.blocos img{
    width: 270px;
    height: 320px;
    border-radius: 14px;
}

.bloco_btn{
    display: flex;
    margin: auto;
    margin-top: 10%;
    padding: 12px;
    background-color: black;
    border
}

.bloco_btn a{
    
    text-decoration: none;
}


